.c-class {
  font-size: 14px;
  max-width: 110px;
}

.category-card {
  background: var(--bs-border-color);
  box-shadow: 0px 4px 26px rgba(66, 66, 66, 0.25);
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  color: #ffffff;
}
